* {
    box-sizing: border-box;
} 
   html body h1 {
    margin: 1px;
    color:blue;
    text-align: center;
}
  content image {
    width: auto;
    height: auto;
}
  img {
    width: 300px;
    height: 350px;
}